@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap')

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html{
	font-size: 10px;
	font-family: 'Roberto Condensed', halvetica, san-serif;
	scroll-behavior: smooth;
}

body{
	margin:0;
	background-color: #FFF;
}

.header{
	width: calc(100%-0px);
}

.navbar{
	background: transparent url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/shiny2button_bg.png) center bottom repeat-x;
	background-color: rgba(250,250,250,.8);
	width: 100%;
	height: 80px;
	font-weight: 100;
	line-height: 6rem;
	font-family: Arial,Helvetica,sans-serif;
	position: fixed;
	top: 0;
	margin: 0 auto;
	z-index: 3;
}

.navbar-container{
	width: 70%;
	margin: 0 auto;
	min-width: 350px;
}

.mobile-nav{
	display: none;
	float: right;
	position: relative;
}

.mobile-nav img{
	width: 69px;
	margin-top:4px;
}

.dropbtn{
	width: 80.69px;
}

.dropdown{
	display: none;
	top: 80px;
	float: left;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 0;
  padding: 0;
}

.mobile-nav a {
  color: black;
  text-decoration: none;
  display: block;
}

.show {display:block;}

.navbar ul{
	float: right;
	list-style: none;
	margin:0;
}

.navbar ul a li{
	display: inline-block;
	padding: 0 1.5rem;
	padding-top: 10px;
	padding-bottom: 8px;
	width: 50px;
}

.navbar ul a{
	text-decoration: none;
	color: rgb(154,174,184);
	font-size: 16px;
	cursor: pointer;
}

.navbar ul li:hover{
	background-color: rgba(10, 189, 240, 0.298039);
	color: #fff;
}

.nav-text{
	float: left;
	margin-top: 10px;

}

.nav-text a{

	color: rgb(81,94,101);
	text-shadow:rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
	font-size: 30px;
	text-decoration: none;
}

.about{
  padding-bottom: 200px;
	background-color: #FFF;
	text-align: Center;
}

h1{
	padding-top: 70px;
	padding-bottom: 70px;
	font-size: 70px;
	color: #FFF;
	text-shadow:rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
	min-width: 350px;
}

.who{
	background-color: rgba(44,181,232,.53);
	width:90%;
  padding: 5%;
  margin: 0 auto;
  margin-bottom: 60px;
  border-radius: 20px;
	max-width: 500px;
}

.who h2{
	margin-top:0;
}

.what{
	background-color: rgba(44,181,232,.53);
	width:90%;
	max-width: 500px;
	padding: 5%;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 20px;
}

.what h2{
	margin-top:0;
}

.gallery{
	background: linear-gradient(55deg, #d37aa8 0%, #81e8ff 51%, #5587e1 85%);
	text-align: center;
}

.gallery h1{
	margin:0;
}

.gallery-container{
	background-color: rgba(240,240,240,.3);
	width:70%;
	min-width: 350px;
	margin: 0 auto;
	padding:15px;
  border-radius: 20px;
}

.gallery-container img{
  min-width: 200px;
  max-width: 400px;
	width:30.5%;
  padding:10px;
	transition: .7s;
}

.gallery-container img:hover{
	transform: scale(1.03);
	filter:hue-rotate(15deg);
	filter:drop-shadow(0px 0px 10px gray);
}

.gallery-pad{
  height: 50px;
}

footer img{
	margin-top: 5px;
}

.footer-container{
  width: 350px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p{
  color: rgb(154,174,184);
  font-size: 14.2px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2{
	font-size: 40px;
	color: rgb(81,94,101);
}

p{
	font-size: 20px;
	color: rgb(81,94,101);
}

.container{
	width: 45%;
	min-width:350px;
	margin: 0 auto;
}


.slide-container{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.slides{
	margin: 0 auto;
}

@media only screen and (max-width:1118px) {
  /* For tablets: */
  .gallery-container img{
	 width:45%;
  }
}
@media only screen and (max-width:850px){
	
	.norm-nav{
		display: none;
	}
	.mobile-nav{
		display: inline-block;
	}
	.navbar ul{
		float: left;
	}
	.navbar-container{
		width:95%;
	}
}
@media only screen and (max-width:650px) {
  /* For mobile phones: */
    .gallery-container img{
	 width:96%;
  }
	h1{
		font-size:60px;
	}
	.what{
		border-radius: 0px;
	}
	.who{
		border-radius: 0px;
	}
	.container{
		width:100%;
	}
	.gallery-container{
		border-radius: 0px;
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
		margin: 0;
	}
	.gallery-container img{
		
		padding-left: 0px;
		padding-right: 0px;
	}
	.gallery-pad{
		height: 0px;
	}
	.nav-text a{
		font-size:27px;
	}
	
  }

