@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap')

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html{
	font-size: 10px;
	font-family: 'Roberto Condensed', halvetica, san-serif;
	scroll-behavior: smooth;
}

body{
	margin:0;
	background-color: #FFF;
}

.header{
	width: calc(100%-0px);
}

.navbar{
	background: transparent url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/shiny2button_bg.png) center bottom repeat-x;
	background-color: rgba(250,250,250,.8);
	width: 100%;
	height: 80px;
	font-weight: 100;
	line-height: 6rem;
	font-family: Arial,Helvetica,sans-serif;
	position: fixed;
	bottom: 0;
	top: 0;
	margin: 0 auto;
}

.navbar-container{
	width: 70%;
	max-width: 120rem;
	margin: 0 auto;
	min-width: 600px;
}

.navbar ul{
	float: right;
	list-style: none;
	margin:0;
}

.navbar ul a li{
	display: inline-block;
	padding: 0 1.5rem;
	padding-top: 10px;
	padding-bottom: 8px;
}

.navbar ul a{
	text-decoration: none;
	color: rgb(154,174,184);
	font-size: 16px;
	cursor: pointer;
}

.navbar ul li:hover{
	background-color: rgba(10, 189, 240, 0.298039);
	color: #fff;
}

.nav-text{
	float: left;
	margin-top: 10px;

}

.nav-text a{

	color: rgb(81,94,101);
	text-shadow:rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
	font-size: 30px;
	text-decoration: none;
}

.fixed-bottom{
	position: fixed;
	bottom: 0;
	z-index: 20;
}

.fixed-top{
	position: fixed;
	top: 0;
	z-index: 20;
}

.unfixed{
	position: static;
}

.about{
  padding-bottom: 200px;
	background-color: #FFF;
	text-align: Center;
}

h1{
	padding-top: 70px;
	padding-bottom: 70px;
	font-size: 70px;
	color: #FFF;
	text-shadow:rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
	min-width: 400px;
}

.who{
	background-color: rgba(44,181,232,.53);
	width:45%;
	min-width: 400px;
	margin: auto;
  padding: 5%;
  margin-bottom: 60px;
  border-radius: 20px;
}

.who h2{
	margin-top:0;
}

.what{
	background-color: rgba(44,181,232,.53);
	width:45%;
	min-width: 400px;
	margin: auto;
  padding: 5%;
  margin-bottom: 10px;
  border-radius: 20px;
}

.what h2{
	margin-top:0;
}

.gallery{
	background: linear-gradient(55deg, #d37aa8 0%, #81e8ff 51%, #5587e1 85%);
	text-align: center;
}

.gallery h1{
	margin:0;
}

.gallery-container{
	background-color: rgba(240,240,240,.3);
	width:70%;
	margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
}

.gallery-container img{
  width:30%;
  min-width: 250px;
  max-width: 400px;
  padding:10px;

}

.gallery-container img:hover{

}

.gallery-pad{
  height: 50px;
}

footer{

}

.footer-container{
  width: 70%;
  padding: 20px;
  margin: 0 auto;
}

footer p{
  color: rgb(154,174,184);
}

h2{
	font-size: 40px;
	color: rgb(81,94,101);
}

p{
	font-size: 18px;
	color: rgb(81,94,101);
}

.container{
	width: 70%;
	margin: 0 auto;
}

